configuration {
    display-run: "";
    display-drun: "";
    font: "JetBrainsMono Nerd Font Mono 20";
}

@theme "nord"

error-message {
    background-color: #d08770;
    border-color: @foreground;
    spacing: 0;
    padding: 10;
    border: 0px;
    border-radius: 6px;
}
