snippet li "source file's header"
"""
`!v Filename()`
Created by Ivan Berdnikov on `date +%d/%m/%y`.
"""
endsnippet


snippet shebang "shebang snippet"
#!/usr/bin/python


endsnippet

snippet im "import snippet"
import ${1}
endsnippet

snippet imf "from import snippet"
from ${1} import ${2}
endsnippet


snippet cl "class"
class ${1:ClassName}(${2:object}):
	${3}
endsnippet


snippet fun "function"
def ${1}(${2}):
	${3:pass}
endsnippet


snippet cmh "comment header"
"""
${1}
"""
endsnippet
