snippet she "shebang"
#!/bin/bash
$1
endsnippet

snippet li "file information"
#
#  File: `!p snip.rv = fn`
#  Created by Ivan Berdnikov on `date +%d/%m/%y`
#

$1
endsnippet

snippet if "'if' conditional statement"
if $1; then
	$2
fi
endsnippet

snippet cmh "header"
#-------------------------------------------------------------------------------
# $1
#-------------------------------------------------------------------------------
endsnippet

snippet cmf "footer"
#-------------------------------------------------------------------------------
endsnippet

snippet fnh "function header comment"
---------------------------------------
# Globals:
#   ${1:None}
# Arguments:
#   ${2: None}
# Returns:
#   ${3: None}
---------------------------------------
endsnippet
