snippet cmh "section header"
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
"" ${1}
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
endsnippet

snippet cmf "comment footer"
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
endsnippet
