snippet if "if condition"
if ($1)
	$2
endif ()
endsnippet

snippet cmh "header snippet"
##==============================================================================
## $1
##==============================================================================
endsnippet

snippet fun "function snippet"
function(${1:name}$2)
	$3
endfunction()
endsnippet
