snippet cmh "section header"
////////////////////////////////////////////////////////////////////////////////
// ${1}
////////////////////////////////////////////////////////////////////////////////
endsnippet

snippet cmhs "comment short header"
/////////////////////////////////
// ${1}
/////////////////////////////////
endsnippet

